<h1>Restaurant</h1>



  <p>Name: <%= @restaurant.name %> </p>

  <p>Address: <%= @restaurant.address %> </p>
  <p>City: <%= @restaurant.city %> </p>
  <p>State: <%= @restaurant.state %> </p>
  <p>Zip: <%= @restaurant.zipcode %> </p>
  <p>Description: <%= @restaurant.description %> </p>
  <p>Category: <%= @restaurant.category %> </p>

&nbsp;
  <p><%= link_to "Home", root_path(@question)%></p>
